/* define variable */
:root {
    --theme-color: #dcf8c6;
    --portal-color: darkblue;
    --font-color: black;
}

/* initialize */
html,body {
    width:100%;
    height:100%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 1280px;
    background: linear-gradient(var(--portal-color) 0%, var(--portal-color) 130px, #d9dbd5 130px, #d9dbd5 100%);
}

#EnterApp
{
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #031a2e;
    left: 0px;
}

#Universe {
    position:absolute;
    display: flex;
    justify-content: center;
    background-color: transparent;
    left: 0px;
    border:1px solid #000000;
}

#Start {
    height:fit-content;
    width: auto;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.clear {
    clear: both;
    padding: 5px;
}

/* head, list, search, button ... */
.container {
    position: relative;
    width: 1396px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: #fff;
    display: flex;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.container .leftSide {
    position: relative;
    flex: 30%;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.container .rightSide {
    position: relative;
    flex: 70%;
    background: #e5ddd5;
    overflow-x:hidden;
}

.container .rightSide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.06;
}

.header {
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededed;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    display: flex;
}
.rightSide .header {
    display: none;

}

.setting {
    display: flex;
    justify-content: space-between;
}


.close_button {
    float: left;
    padding-bottom: 10px;
}

.red_button {
    padding: 5px;
    background-color: rgb(237, 106, 95);
    border-radius: 50%;
    border-width: 1px;
    border-color: rgb(216, 103, 96);
}

.yellow_button {
    padding: 5px;
    background-color: rgb(246, 192, 80);
    border-radius: 50%;
    border-width: 1px;
    border-color: rgb(188, 191, 139);
}

.green_button {
    padding: 5px;
    background-color: rgb(99, 200, 86);
    border-radius: 50%;
    border-width: 1px;
    border-color: rgb(99, 184, 73);
}

.userimg {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_icons {
    display: flex;
}

.nav_icons li {
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.6em;
    margin-left: 22px;
    margin-top: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    top: 32px;
    left: -128px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    text-align: end;
    padding:6px;
}

.dropdown-content a {
    font-size: 0.6em;
    padding: 7px;
    width: 160px;
    text-align:right;
    margin-right:10px;
}
.dropdown-content label {
    width:160px;
    cursor: pointer;
}

/* 2 */
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    top: 60px;
    left: 868px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    text-align: center;

}

.dropdown-content2 a {
    font-size: 1em;
    line-height: 3em;
    margin: 7px;
    width: 160px;
    padding: 2px;
    text-align:right;
    margin-right:10px;
    cursor: pointer;
}
.dropdown-content2 a:hover {
    background-color: #bbb;
}
.dropdown-content2 label {
    width:160px;
    cursor: pointer;
}

ion-icon:hover {
    background-color: rgb(213, 200, 200);
}

.search_chat {
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_chat div {
    width: 100%;
}

.search_chat input {
    width: 100%;
    outline: none;
    background: #fff;
    border: none;
    padding: 6px;
    height: 38px;
    padding-left: 40px;
    border-radius: 30px;
    font-size: 14px;
}

.search_chat input::placeholder {
    color: #888;
}

.search_chat ion-icon {
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
}

.chatlist {
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

.chatlist .block {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    padding: 15px 15px;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .06);
    cursor: pointer;
}

.chatlist .block:first-child {
    background: #b3adad;
}

.chatlist .block:hover {
    background: #bbb;
}

.chatlist .block .imgbx {
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.chatlist .block .details {
    position: relative;
    width: 100%;
}

.chatlist .block .details .listHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.chatlist .block .details .listHead h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}

.chatlist .block .details .listHead .time {
    font-size: 0.75em;
    color: #555;
}

.message_p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatlist .block .details p {
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatlist .block.active .details .listHead .time,
.chatlist .block.active .details p {
    color: #111;
}


.chatlist .block.unread .details .listHead .time {
    color: #06d755;
}

.chatlist .block.unread .details p {
    color: #111;
    font-weight: 600;
}

.message_p b {
    background: var(--theme-color);
    color: var(--font-color);
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    font-size: 0.75em;
    justify-content: center;
    align-items: center;
}

.imgText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgText h4 {
    font-weight: 600;
    font-size: 1.02em;
    margin-left: 15px;
    line-height: 1.2em;
}

.imgText h4 span {
    font-size: 0.8em;
    color: #555;
    font-weight: 400;
}

/* chat area */
.chatBox {
    overflow-x:hidden;
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px;
}
.background {
    overflow-x:hidden;
    position: absolute;
    top: 200px;
    left: 220px;
    margin: auto;
    height: 200px;
    display: block;
}
.message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.message img {
    object-fit: none;
    min-height: 200px;
    max-width: 100%;
}

.message p {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    min-width: 330px;
    padding: 12px;
    border-radius: 10px;
    text-align: right;
    font-size: 0.9em;
    background: var(--theme-color);
}

.message p:first-child:before {
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 24px;
    height: 24px;
    background: linear-gradient(135deg, var(--theme-color) 0%, var(--theme-color) 50%, transparent 50%, transparent 100%);
}

.message p span {
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}


.message.my_message {
    justify-content: flex-end;
}

.message.my_message p {
    text-align: left;
    color: var(--font-color);
}

.message.my_message span {
    text-align: right;
}

.message.frnd_message {
    justify-content: flex-start;
}

.message.frnd_message p {
    text-align: left;
    background: #fff;
}

.message.frnd_message .userName {
    color: #06d755;
}

.message.frnd_message span {
    float: right
}

.message.frnd_message p:first-child:before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 24px;
    height: 24px;
    background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%, transparent 100%);
}




.chatBox_input {
    position: relative;
    padding: 15px;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    display: none;
    justify-content: space-between;
    align-items: center;
}
.chatBox_input label {
    margin-top: 5px;
}

.chatBox_input ion-icon {
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
}

.chatBox_input ion-icon:first-child {
    margin-right: 15px;
}

.chatBox_input input[type="text"] {
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
}

.notify {
    padding: 10px;
}

.notify p {
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.notify .notify_in {
    background-color: white;
    text-align: center;
    margin: auto;
    width: fit-content;
    max-width: 80%;
    max-height: 123px;
    height: 2em;
    border-radius: 8px;
    font-size: 0.9em;
    line-height: 2em;
}

.notify .notify_out {
    background-color: rgb(252, 239, 209);
    text-align: center;
    margin: auto;
    width: fit-content;
    color: black;
    max-width: 80%;
    max-height: 123px;
    height: 2em;
    border-radius: 8px;
    font-size: 0.9em;
    line-height: 2em;
}

.notify .notify_error {
    background-color: rgb(241, 93, 35);
    text-align: center;
    margin: auto;
    width: fit-content;
    color: black;
    max-width: 80%;
    max-height: 123px;
    height: 2em;
    border-radius: 8px;
    font-size: 0.9em;
    line-height: 2em;
}




/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bbb;
}


#drop_zone {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
    height: 80%;
    border: 3px #212121 dashed;
    line-height: 100px;
    text-align: center;
    border-radius: 8px;
    background: rgba(208, 197, 197, 0.449);
    display: none;
}

#drop_zone:hover {
    background: rgba(208, 197, 197, 0.449);
}

/* emoji table */
.table {
    position: absolute;
    width: 100%;
    height: 290px;
    top: 52%;
    left: 0;
    display: none;
}
.table td {
    font-size: 2.1em;
}
.table_box_big {
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    height: 290px;
    border-radius: 10px;

}

.table_box {
    overflow: hidden;
    position: absolute;
    background-color: rgb(240, 242, 245);
    border: 2px solid #eeeeee;
    border-radius: 10px;

}

.table_tbody_box {
    height: 300px;
    overflow: scroll;
}

table {
    border: 1px solid #eeeeee;
}

table thead tr th {
    width: 80px;
    height: 50px;
    text-align: center;
    word-break: keep-all;
    padding: 2px 10px;
    background: skyblue;
}

table tbody tr td {
    width: 80px;
    height: 50px;
    text-align: center;
    word-break: keep-all;
    padding: 15px 10px;
    cursor: pointer;
}

.pic_list_con{
    position: absolute;
    top: 0;
    left: 30%;
    z-index: 999;
    height: 150px;
    background-color: white;
    width:458px;
    border:1px solid #ddd;
    display: none;
    overflow:hidden;
}
.pic_list_con h3{
    width:318px;
    height:50px;
    border-bottom: 1px solid #ddd;
}
.pic_list_con h3 span{
    display:inline-block;
    height:50px;
    border-bottom: 2px solid red;
    font: 18px/50px 'Microsoft YaHei UI';
    padding:0 15px;
}
.pic_list_con ul{
    width: 550px;
    margin:20px 0 20px 0;
}
.pic_list_con ul li{
    width: 45px;
    height:45px;
    float:left;
    margin:0 29px 25px 29px;
    list-style: none;
    text-align: center;
}
.pic_list_con img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    
}